
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Code for America Analytics Dashboard</title>
    
    <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />
    
    <!-- The light version of the main CFA stylesheet -->
	<link rel="stylesheet" href="{{ style_base }}/style/css/cfa-light.css">
	
	<link rel="stylesheet" href="{{ style_base }}/style/css/layout.css" media="all and (min-width: 40em)">
	
	<!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
	<link rel="stylesheet" href="../style/css/layout.css" media="all">
	<![endif]-->
	
	<!-- (Optional) A plugin that adds syntax highlighting to code samples -->
	<link href="{{ style_base }}/style/css/prism.css" rel="stylesheet" />
	
	<!-- Link to a 32x32 favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ style_base }}/favicon.ico">
	
	<!-- (Optional) Link to a 60x60 bookmark icon for iOS -->
	<link rel="apple-touch-icon-precomposed" href="{{ style_base }}/style/favicons/60x60/flag-red.png"/>
	
</head>



<body>

	<div class="layout-semibreve">
	
		<header class="heading">
	    	<h1>Code for America Analytics Dashboard</h1>
	    </header>
	    
	    <div class="layout-minor">
      	
	        <nav role="navigation" class="toc" id="toc">
	        	
	        	<h2>Table of Contents</h2>
	        
		        <ul class="sectlevel1">
		        		<li><a href="https://dashboard-setup.codeforamerica.org#setup">Setup</a></li>
		            <li><a href="#what">What is the dashboard?</a></li>
		            <li><a href="#uses">Suggested uses</a></li>
		            <li><a href="#license">Credits and licensing</a></li>
		        </ul>
		        
		    </nav>

		    <a class="button" href="https://github.com/codeforamerica/display-screen">Fork on Github</a>
	
		</div>
	    
	    <main id="content" class="layout-major">
		
		    <section id="setup">

		        <h2>Setup complete!</h2>
	            <p>Yay, you're all set up!</p>
	            <p>You can view your dashboard at this url: <a href="{{ heroku_url }}">{{ heroku_url }}</a></p>
	            <p>We're interested in knowing who's using this so we can notify you of upgrades and possibly check in very occasionally with a few questions. Could you please tell us a little bit about yourself? (Of course we'll never share this information with anyone.)</p>

	            <form action="https://docs.google.com/forms/d/10vKzY6qQZu1bLFl98xr6FecgwoFmRfBQVAb5tSOysuM/formResponse" method="POST">
	            	<ul class="list-form">
        					<li class="form-field">
										<label for="text">Name</label>
										<input id="text" class="input" type="text" name="entry.1482192895" />
									</li>
									<li class="form-field">
										<label for="text">City</label>
										<input id="text" class="input" type="text" name="entry.1494511144" />
									</li>
									<li class="form-field">
										<label for="text">Email</label>
										<input id="text" class="input" type="text" name="entry.1007825208" />
									</li>
								</ul>
								<div class="button-group">
									<input type="submit" class="primary-button" value="Send"/>
								</div>
	            </form>
		    </section>
		    <section id="what">
		        <h2>What is the dashboard?</h2>
		        <p>This dashboard is a simple way to show the activity on a given website, live, via the Google Analytics Real Time API.</p>
		    </section>
		    <section id="uses">
		        <h2>Suggested uses</h2>
	            <p>The dashboard was designed to be a point of interest in an office, community center or city hall, rather than part of a city website.</p>


		    </section>
		    
		    <section id="license">
		    	<h2>License</h2>
		    	
		    	<p>
		    	    The Display Screen application is provided under
		    	    <a href="https://github.com/codeforamerica/display-screen/blob/master/LICENSE.txt">a BSD-style license</a>.
		    	</p>
		    </section>
		    			
		</main>
	
	</div>

    
</body>

<script src="//style.codeforamerica.org/script/prism.js"></script>

</html>
