
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Code for America Analytics Dashboard</title>
    
    <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />
    
    <!-- The light version of the main CFA stylesheet -->
	<link rel="stylesheet" href="{{ style_base }}/style/css/cfa-light.css">
	
	<link rel="stylesheet" href="{{ style_base }}/style/css/layout.css" media="all and (min-width: 40em)">
	
	<!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
	<link rel="stylesheet" href="../style/css/layout.css" media="all">
	<![endif]-->
	
	<!-- (Optional) A plugin that adds syntax highlighting to code samples -->
	<link href="{{ style_base }}/style/css/prism.css" rel="stylesheet" />
	
	<!-- Link to a 32x32 favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ style_base }}/favicon.ico">
	
	<!-- (Optional) Link to a 60x60 bookmark icon for iOS -->
	<link rel="apple-touch-icon-precomposed" href="{{ style_base }}/style/favicons/60x60/flag-red.png"/>
	
</head>



<body>

	<div class="layout-semibreve">
	
		<header class="heading">
	  	<h1>Code for America Analytics Dashboard</h1>
	  </header>
	    
	    
	    <main id="content" class="layout-major">
		    <section>

		        <h2>Oh noes! Something isn't quite right!</h2>
		        <div class="alert-failure">
		            <p>{{ message }}</p>
		            <p>This probably means you've tried to use a token that's already expired. You should try starting again from <a href="/">step one</a>.</p>
		        </div>

		    </section>
		</main>
	
	</div>


    
</body>

<script src="//style.codeforamerica.org/script/prism.js"></script>

</html>
