
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Code for America Analytics Dashboard</title>
    
    <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />
    
    <!-- The light version of the main CFA stylesheet -->
	<link rel="stylesheet" href="{{ style_base }}/style/css/cfa-light.css">
	
	<link rel="stylesheet" href="{{ style_base }}/style/css/layout.css" media="all and (min-width: 40em)">
	
	<!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
	<link rel="stylesheet" href="../style/css/layout.css" media="all">
	<![endif]-->
	
	<!-- (Optional) A plugin that adds syntax highlighting to code samples -->
	<link href="{{ style_base }}/style/css/prism.css" rel="stylesheet" />
	
	<!-- Link to a 32x32 favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ style_base }}/favicon.ico">
	
	<!-- (Optional) Link to a 60x60 bookmark icon for iOS -->
	<link rel="apple-touch-icon-precomposed" href="{{ style_base }}/style/favicons/60x60/flag-red.png"/>
	
</head>



<body>

	<div class="layout-semibreve">
	
		<header class="heading">
	    	<h1>Code for America Analytics Dashboard</h1>
	    </header>
	    
	    <div class="layout-minor">
      	
	        <nav role="navigation" class="toc" id="toc">
	        	
	        	<h2>Table of Contents</h2>
	        
		        <ul class="sectlevel1">
		            <li><a href="#what">What is the dashboard?</a></li>
		            <li><a href="#setup">Setup</a></li>
		            <li><a href="#uses">Suggested uses</a></li>
		            <li><a href="#license">Credits and licensing</a></li>
		        </ul>
		        
		    </nav>

		    <a class="button" href="https://github.com/codeforamerica/display-screen">Fork on Github</a>
	
		</div>
	    
	    <main id="content" class="layout-major">
	
		    <section id="what">
		        <h2>What is the dashboard?</h2>
		        <p>Blah blah blah. YAY Stuff.</p>
		    </section>
		
		    <section id="setup">

		        <h2>Setup</h2>
	            <p>Setup is pretty easy, you can do it right from this page. It makes the following assumptions, however:</p>
	            <ul>
	            	<li>You have access to a <a href="https://www.google.com/analytics/">Google Analytics</a> account.</li>
	            	<li>You have permission to use, or create, an account with <a href="http://heroku.com">Heroku</a>.</li>
	            </ul>
	            <h3>1. Connect To Google</h3>

                {% if client_id and client_secret and refresh_token and properties %}
                    <table>
                        <tr>
                            <td>Client ID</td>
                            <td>{{ client_id }}</td>
                        </tr>
                        <tr>
                            <td>Client Secret</td>
                            <td>{{ client_secret }}</td>
                        </tr>
                        <tr>
                            <td>Refresh Token</td>
                            <td>{{ refresh_token }}</td>
                        </tr>
                    </table>

                {% else %}
                    <p>Connect to Google via the button below (using your email associated with your Google Analytics account).</p>

                    <form action="/authorize-google" method="POST">
                        <button>Connect To Google</button>
                    </form>
                {% endif %}

	            <form action="/prepare-app" method="POST">
	            <h3>2. Select your Analytics ID</h3>
	            <p>You may have more than one view setup, so select the one that will show the data for the area you want on your dashboard.</p>

                {% if properties %}
                    <select name="property">
                      {% for (id, name, url) in properties %}
                        <option value="{{ id }} {{ url }}">{{ name }} ({{ url }})</option>
                      {% endfor %}
                    </select>

                {% else %}
                <!-- else... no google analytics account found?-->
                <select disabled>
                 	<option value="select analytics view">Select Analytics View</option>
                </select>
                {% endif %}
	            
	            <h3>3. Create!</h3>
                    <p>Now all the fields above are filled out, click the button below to create a new Heroku application with these credentials.</p>
                    <p>When you click <strong>Create Dashboard</strong>, you'll be taken to <a href="http://heroku.com">heroku.com</a>.  If you have an existing account, simply login as normal. If you don't yet have an account, you'll be asked to create one (for free), and then you'll continue through the automated creation process and be given the URL for your new dashboard!</p>
	            	
	            	{% if client_id and client_secret and refresh_token and properties %}
	            	    <input type="hidden" name="client_id" value="{{ client_id }}">
	            	    <input type="hidden" name="client_secret" value="{{ client_secret }}">
	            	    <input type="hidden" name="refresh_token" value="{{ refresh_token }}">
                        <button>Create Dashboard</button>
	            	{% else %}
                        <button disabled>Create Dashboard</button>
	            	{% endif %}
	            	
	            	<!-- I assume it generates a heroku app name, that we should output here -->

	            </form>

	        

		    </section>
		    
		    <section id="uses">
		        <h2>Suggested uses</h2>
	            <p>The dashboard was designed to be a point of interest in an office, community center or city hall, rather than part of a city website.</p>

		    </section>
		    
		    <section id="license">
		    	<h2>License</h2>
		    </section>
		    			
		</main>
	
	</div>
	
	<a href="#toc" class="skip-to-nav">Table of Contents</a>
	
	<footer class="global-footer">
	    <div class="layout-semibreve layout-tight">
	    	<p>Last updated …</p>
	    	<p>For help contact …</p>
	    </div>
	</footer>
    
</body>

<script src="//style.codeforamerica.org/script/prism.js"></script>

</html>
